<h1>Ask coach a question</h1>
<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="Type question here...">
  <input type="submit" value="Go on!">
</form>


